<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>The Last of Us</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../photos/The_Last_of_Us_Fireflies_Logo.svg.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="galeria.html">Galeria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tlou1.html">Rozgrywka</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="home.html">
          <div class="główne_logo">
            <img src="../photos/The_Last_of_Us_logo.jpg">
          </div>
          <div>
            <span>The Last of Us</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tlou2.html">Part II</a>
      </li>
    </ul>
    </div>
  </nav>
  <div class="text">
    <div>
      <p>
        A oto jest galeria screenshotów (zrzutów ekranu), grafik koncepcyjnych i różnych takich obrazków z obu części gry:
      </p>
      
    </div>
    <div class="r">
      <img src="../photos/1.jpg" class="galeriah">
      <img src="../photos/2.png" class="galeriah">
      <img src="../photos/3.jpg" class="galeriah">
      <img src="../photos/4.png" class="galeriah">
      <img src="../photos/5.jpg" class="galeriah">
      <img src="../photos/6.webp" class="galeriah">
      <img src="../photos/7.jpg" class="galeriah">
      <img src="../photos/8.jpg" class="galeriah">
      <img src="../photos/9.jpg" class="galeriah">
      <img src="../photos/10.jpg" class="galeriah">
      <img src="../photos/11.jpg" class="galeriah">
      <img src="../photos/12.jpg" class="galeriah">
      <img src="../photos/13.jpg" class="galeriah">
      <img src="../photos/14.jpg" class="galeriah">
      <img src="../photos/15.jpg" class="galeriah">
      <img src="../photos/16.jpg" class="galeriah">
      <img src="../photos/17.jpg" class="galeriah">
      <img src="../photos/18.jpg" class="galeriah">
      <img src="../photos/19.jpg" class="galeriah">
      <img src="../photos/20.jpg" class="galeriah">
      <img src="../photos/21.jpg" class="galeriah">
      <img src="../photos/22.jpg" class="galeriah">
      <img src="../photos/23.jpg" class="galeriah">
      <img src="../photos/24.jpg" class="galeriah">
      <img src="../photos/25.jpg" class="galeriah">
      <img src="../photos/26.jpg" class="galeriah">
      <img src="../photos/27.jpg" class="galeriah">
      <img src="../photos/28.jpg" class="galeriah">
      <img src="../photos/29.jpg" class="galeriah">
      <img src="../photos/30.jpg" class="galeriah">
      <img src="../photos/31.jpg" class="galeriah">
      <img src="../photos/32.jpg" class="galeriah">
      <img src="../photos/33.jpg" class="galeriah">
      <img src="../photos/34.jpg" class="galeriah">
      <img src="../photos/35.jpg" class="galeriah">
      <img src="../photos/36.jpg" class="galeriah">
      <img src="../photos/37.jpg" class="galeriah">
      <img src="../photos/38.jpg" class="galeriah">
      <img src="../photos/39.png" class="galeriah">
      <img src="../photos/40.jpg" class="galeriah">
      <img src="../photos/42.jpg" class="galeriah">
      <img src="../photos/The Last of Us Part 2   38 4K ScreenshotsWallpapers r.jpg" class="galeriah">
    </div>






























  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>

</html>