<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>The Last of Us</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../photos/The_Last_of_Us_Fireflies_Logo.svg.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tlou1.html">Rozgrywka</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="home.html">
                    <div class="główne_logo">
                        <img src="../photos/The_Last_of_Us_logo.jpg">
                    </div>
                    <div>
                        <span>The Last of Us</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tlou2.html">Part II</a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="text r">

    
    
    
        <img class="r" src="../photos/tlou2ps4.webp">
    
        <div class="r">
            <p>
                3 grudnia 2016 roku podczas wydarzenia PlayStation Experience ujawniono, że w produkcji (na bardzo wczesnym etapie) znajduje się The Last of Us: Part II. Twórcy pokazali zwiastun gry przedstawiający grającą na gitarze i śpiewającą Ellie. Młoda kobieta znajduje się w opuszczonym budynku, w którym widać ślady walki. Do pokoju, w którym przebywa Ellie wchodzi Joel.
Troy Baker i Ashley Johnson ponownie wcielili się w Joela i Ellie – aktorzy użyczyli odgrywanym przez siebie postaciom nie tylko głosu, ale również wzięli udział we wszystkich sesjach motion capture. Do obsady dołączyła także Shannon Woodward.
Podobnie jak w pierwszej części serii za scenariusz odpowiedzialny jest Neil Druckman, który nad historią pracował wraz z Halley Gross. Autorem ścieżki dźwiękowej został argentyński muzyk i kompozytor Gustavo Santaolalla
            </p>
            
        </div>
    
        <iframe width="100%" class="r" height="420" src="https://youtube.com/embed/W2Wnvvj33Wo?autoplay=1&mute=1"></iframe>
    
 
     <div class="r">
         <p>
             Akcja The Last of Us Part II toczy się w 2038 roku w postapokaliptycznych Stanach Zjednoczonych pięć lat po wydarzeniach z pierwszej części gry i ponad 25 lat po wybuchu epidemii spowodowanej grzybem. Głównymi postaciami są 19-letnia Ellie, znana z pierwszej części gry, oraz Abby, członkini społeczności Wilków
         </p>
        
     </div>
     <div class="r">
         <p>
             Nie chcę więcej spoilerować, więc jeśli Pana przekonałem do Tej Gry to byłbym mega dumny z siebie :D
         </p>
         
     </div>
    <iframe width="100%" height="420" src="https://youtube.com/embed/Gse0LU73G7c?autoplay=1&mute=1"></iframe>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>